{{#paper-toolbar accent="true" class="top-toolbar"}}
  {{#paper-toolbar-tools}}
    {{#link-to "recipes"}}
      {{paper-button label="Go Back"}}
    {{/link-to}}
    <span class="flex"></span>
    <h1>{{recipe.name}}</h1>
    <span class="flex"></span>
    {{#link-to "recipes.edit" recipe.id}}
      {{paper-button raised=true label="Edit"}}
    {{/link-to}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<p>Source: {{recipe.source}}</p>
<p>Prep Time: {{recipe.prepTime}}</p>
<p>Cook Time: {{recipe.cookTime}}</p>
<p>Inactive Time: {{recipe.inactiveTime}}</p>
<p>Servings: {{recipe.servings}}</p>
<p>Created At: {{recipe.createdAt}}</p>
<p>Updated At: {{recipe.updatedAt}}</p>

<h2>Steps</h2>
{{format-markdown recipe.steps}}

<h2>Recipe Ingredients</h2>
<ul>
  {{#each recipe.recipeIngredients as |ri|}}
    <li>{{ri.ingredient.name}}, {{ri.amountDisplay}}{{#if ri.notes}}, {{ri.notes}}{{/if}}</li>
  {{/each}}
</ul>
