{{#paper-toolbar accent="true" class="top-toolbar"}}
  {{#paper-toolbar-tools}}
    {{paper-button label="Go Back" onClick=(action "goBack")}}
    <span class="flex"></span>
    <h1>{{if isNew "New recipe" "Edit recipe"}}</h1>
    <span class="flex"></span>
    {{paper-button raised=true label="Save" onClick=(action "save")}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class="layout-row">
  {{paper-input
    class="flex-30"
    label="Name"
    placeholder="Enter name"
    value=recipe.name
    onChange=(action (mut (get recipe "name")))
    validationErrorMessages=recipe.validations.attrs.name.errors
    isTouched=(readonly formWasSubmitted)
  }}
</div>

<div class="layout-row">
  {{paper-input
    class="flex-50"
    label="Source"
    placeholder="Source (e.g. URL)"
    value=recipe.source
    onChange=(action (mut (get recipe "source")))
    validationErrorMessages=recipe.validations.attrs.source.errors
    isTouched=(readonly formWasSubmitted)
  }}
</div>

<div class="layout-row">
  {{paper-input
    class="flex-33"
    label="Cook Time (minutes)"
    type="number"
    placeholder="e.g. 30"
    value=recipe.cookTime
    onChange=(action (mut (get recipe "cookTime")))
    validationErrorMessages=recipe.validations.attrs.cookTime.errors
    isTouched=(readonly formWasSubmitted)
  }}
  {{paper-input
    class="flex-33"
    label="Inactive Time (minutes)"
    type="number"
    placeholder="e.g. 5"
    value=recipe.inactiveTime
    onChange=(action (mut (get recipe "inactiveTime")))
    validationErrorMessages=recipe.validations.attrs.inactiveTime.errors
    isTouched=(readonly formWasSubmitted)
  }}
  {{paper-input
    class="flex-33"
    label="Prep Time (minutes)"
    type="number"
    placeholder="e.g. 15"
    value=recipe.prepTime
    onChange=(action (mut (get recipe "prepTime")))
    validationErrorMessages=recipe.validations.attrs.prepTime.errors
    isTouched=(readonly formWasSubmitted)
  }}
</div>

{{paper-input
  label="Servings"
  type="number"
  placeholder="e.g. 4"
  value=recipe.servings
  onChange=(action (mut (get recipe "servings")))
  validationErrorMessages=recipe.validations.attrs.servings.errors
  isTouched=(readonly formWasSubmitted)
}}

<div class="layout-row">
  {{paper-input
    block=true
    label="Steps"
    textarea=true
    class="flex-50"
    value=recipe.steps
    onChange=(action (mut (get recipe "steps")))
    placeholder="Steps"
    passThru=(hash rows=7 maxRows=7)
    validationErrorMessages=recipe.validations.attrs.steps.errors
    isTouched=(readonly formWasSubmitted)
  }}
</div>

<h2>Ingredients</h2>
{{#if (and formWasSubmitted (v-get recipe "recipeIngredients" "isInvalid"))}}
  {{#if (is-empty recipe.recipeIngredients)}}
    <p class="error">At least one ingredient is required</p>
  {{/if}}
{{/if}}
{{#each recipe.recipeIngredients as |ri|}}
  {{#if (not ri.isDeleted)}}
    {{recipe-form/recipe-ingredient
      formWasSubmitted=formWasSubmitted
      givenRecipeIngredient=ri
      deleteIngredient=(action "deleteIngredient")
    }}
  {{/if}}
{{/each}}

<h2>Add Ingredient</h2>
{{recipe-form/recipe-ingredient submit=(action "addIngredient")}}
