<p>Ingredient:</p>
{{recipe-form/ingredient-search
  ingredient=(readonly recipeIngredient.ingredient)
  ingredientWasSelected=(action "ingredientWasSelected")
}}

{{input
  value=(mut (get recipeIngredient "amount"))
  type="number"
  placeholder="Amount"
}}

<select onchange={{action "measureWasSelected" value="target.value"}}>
  <option disabled selected={{not recipeIngredient.measure}}>Select units</option>
  {{#each measures as |measure|}}
    <option
      value={{measure.id}}
      selected={{eq recipeIngredient.measure.id measure.id}}
    >
      {{measure.unit}}
    </option>
  {{/each}}
</select>

<br>
<br>
{{textarea
  value=(mut (get recipeIngredient "notes"))
  placeholder="Notes"
}}

{{#if isNew}}
  <button {{action "addIngredientButtonClicked"}}>Add Ingredient</button>
{{/if}}
